<section class="hero-slider">
  <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="8000">

    <!-- Indicadores -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">

      <!-- SLIDE 1 -->
      <div class="carousel-item active hero-item hero-bg-1">
        <div class="hero-overlay"></div>

        <div class="hero-content container">
          <img src="assets/img/LogoMnflv2.png" class="hero-logo" alt="Momentos NFL" />

          <h1 class="hero-title">
            MOMENTOS <span>NFL</span>
          </h1>

          <p class="hero-subtitle">
           Esto es un peqeño poryecto escolar, en el cual se busca compartir con la pequeña comunidad hispana de la NFL, 
           la cual ha ido creciendo con el paso de los años. Aqui podremos compartir algunos de los momentos más icónicos y memorables 
           en la historia de la NFL, desde jugadas legendarias hasta eventos que han dejado una huella imborrable en el deporte. 
           Esperamos que disfruten de este espacio con nosotros.
           <strong> Este proyecto es de objetivo escolar. Todas las imágenes pertenecen a la liga. 2025 derechos reservados a sus respectivos dueños.</strong>
          </p>

          <div class="hero-actions">
            <a class="btn btn-outline-light btn-lg" routerLink="/formulario">Unirme</a>
          </div>
        </div>
      </div>

      <!-- SLIDE 2 -->
      <div class="carousel-item hero-item hero-bg-2">
        <div class="hero-overlay"></div>

        <div class="hero-content container">
          <h1 class="hero-title">
            <span>HISTORIAS</span>
          </h1>

          <p class="hero-subtitle">
            Revive jugadas legendarias, temporadas inolvidables y momentos que marcaron la historia de la NFL.
          </p>

          <div class="hero-actions">
            <a class="btn btn-primary btn-lg" routerLink="/historias">Ir a Historias</a>
          </div>
        </div>
      </div>

      <!-- SLIDE 3 -->
      <div class="carousel-item hero-item hero-bg-3">
        <div class="hero-overlay"></div>

        <div class="hero-content container">
          <h1 class="hero-title">
            <span>MINIJUEGOS</span>
          </h1>

          <p class="hero-subtitle">
            Juega “Adivina el jugador”, suma puntos y demuestra que sabes de NFL.
          </p>

          <div class="hero-actions">
            <a class="btn btn-success btn-lg" routerLink="/juego">Ir a Minijuegos</a>
          </div>
        </div>
      </div>

    </div>

    <!-- Flechas -->
    <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>

  </div>
</section>



<!-- Carrusel de Momentos NFL -->
<section class="py-4 bg-white">
  <div class="container carrusel-box">

    <p *ngIf="cargando" class="text-center my-3">Cargando carrusel...</p>

    <div *ngIf="!cargando && errorMsg" class="text-center text-danger my-3">
      {{ errorMsg }}
    </div>

    <div *ngIf="!cargando && !errorMsg && carrusel.length === 0" class="text-center my-3">
      No hay elementos en el carrusel.
    </div>

    <div
      *ngIf="!cargando && !errorMsg && carrusel.length > 0"
      #carouselEl
      id="carouselNFL"
      class="carousel slide"
      data-bs-ride="carousel"
    
     
    >
      <div class="carousel-inner">
        <div
          class="carousel-item"
          *ngFor="let item of carrusel; let i = index"
          [class.active]="i === 0"
        >
          <img
            class="d-block w-100 carrusel-img"
            [src]="'assets/img/' + item.imagen"
            [alt]="item.titulo"
          />

          <div class="carousel-caption carrusel-caption">
            <h5 class="mb-2">{{ item.titulo }}</h5>
            <p class="mb-2">{{ item.descripcion }}</p>
            <small>{{ item.fuente }}</small>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselNFL" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselNFL" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>

  </div>
</section>
  


<!-- Sección de Cards -->
<section class="seccion-cards py-5">
  <div class="container">
    <div class="row g-4 justify-content-center">

      <!-- Card 1 -->
      <div class="col-md-4">
        <div class="card card-home h-100">
          <img src="assets/img/LogoMnflv2.png" class="card-img-top" alt="Historias NFL">
          <div class="card-body text-center">
            <h5 class="card-title">HISTORIAS NFL</h5>
            <p class="card-text">Conoce más historias de la NFL</p>
            <a routerLink="/historias" class="btn btn-success">Ver más</a>
          </div>
        </div>
      </div>

          <!-- Card 2 -->
      <div class="col-md-4">
        <div class="card card-home h-100">
          <img src="assets/img/golDecampo.png" class="card-img-top" alt="Minijuegos">
          <div class="card-body text-center">
            <h5 class="card-title">MINIJUEGOS</h5>
            <p class="card-text">Usa tus conocimientos para adivinar el jugador.</p>
            <a routerLink="/juego" class="btn btn-success">Ver más</a>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-4">
        <div class="card card-home h-100">
          <img src="assets/img/LogoLPLNFL.jpg" class="card-img-top" alt="Actualidad NFL">
          <div class="card-body text-center">
            <h5 class="card-title">ACTUALIDAD NFL</h5>
            <p class="card-text">
              Quieres saber todo sobre la actualidad de la NFL en nuestro idioma.
            </p>
            <a href="https://www.youtube.com/@Locos_NFL/featured" target="_blank" class="btn btn-success">
              Ver más
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>